body {
    font-family: sans-serif, "Times New Roman";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style-type: none;
}
.section-content {
    width: 100%;
    margin: 0 auto;
    padding: 80px 32px;
    display: flex;
}
/* Header content */
.header {
    background: #1f2937;
    padding: 16px 32px;
    display: flex;
    justify-content: center;
    color: #fff;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}
.header .section-content {
    padding: 16px 5%;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 16px;
}
/* First-section content */
.first {
    background: #1f2937;
    padding: 25px 0;
}
/* Left Side */
.first-content {
    gap: 48px;
    align-items: center;
    padding: 50px 5%;
}
.first-text {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding-right: 24px;
}
.first-text h1 {
    font-size: 36px;
    font-weight: 900;
    margin: 0;
    padding: 0;
}
.first-text p {
    font-size: 18px;
    margin-bottom: 16px;
}
.signup-button {
    max-height: 62px;
    max-width: 90px;
    background-color: #3882F6;
    color: #fff;
    font-weight: bold;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    align-self: flex-start;
}
/* Right side */
.first-image{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.giphy-credit {
    align-self: flex-end;
    margin-top: auto;
    padding: 4px 8px;
}
.giphy-credit a {
    color: white;
    font-size: 16px;
    font-weight: bold;
}
/* Second section css */

.info {
    background: #d6ff89;
    padding: 50px 0;
}
.info-content {
    flex-direction: column;
    align-items: center;
}
.info h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    gap: 32px;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    
}
.cards {
    display: flex;
    gap: 32px;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.card {
    width: 200px;
    text-align: center;
}
.card-img{
    width: 200px;
    height: 200px;
    object-fit: fill;
    border: 5px #3B82F6 solid;
    border-radius: 5px;
    margin-top: 0px;
}
.card p {
    font-size: 16px;
    color: #1F2937;
    margin: 0;
}