body {
    font-family: sans-serif, "Times New Roman";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style-type: none;
}
section {
    width: 100%;
    padding: 80px 32px;
    display: flex;
    justify-content: center;
}
.section-content {
    width: 100%;
    max-width: 1100px;
    display: flex;
}
/* Header content */
.header {
    background: rgb(151, 196, 255);
    padding: 16px 32px;
    display: flex;
    justify-content: center;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
}

.nav-links {
    display: flex;
    gap: 16px;
    font-weight: bold;
}
/* First-section content */
.first {
    background: #ff8985;
    padding: 35px 16px;
}
/* Left Side */
.first-content {
    gap: 48px;
    align-items: center;
}
.first-text {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding-right: 24px;
}
.first-text h1 {
    font-size: 36px;
    font-weight: 900;
    margin: 0;
    padding: 0;
}
.first-text p {
    font-size: 18px;
    margin-bottom: 16px;
}
.signup-button {
    max-width: 120px;
    background-color: #3882F6;
    color: #fff;
    font-weight: bold;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    align-self: flex-start;
}
/* Right side */
.first-image{
    display: flex;
    flex-direction: column;
}
.giphy-credit {
    align-self: flex-end;
    margin-top: auto;
    padding: 4px 8px;
}
.giphy-credit a {
    color: white;
    font-size: 16px;
    font-weight: bold;
}
/* Second section css */